/* Tailwind base + custom utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

/* basic page colors - feel free to adjust in markup using utility classes */
body {
  background-color: #f9fafb; /* light gray */
  color: #1f2937; /* gray-800 */
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}
